@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@259&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  font: bold;
  min-height: 100vh;
}

.pw-container {
  background-color: black;
  width: 400px;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

.pw-header {
  padding: 1rem;
}

.pw {
  background-color: black;
  font-size: 2rem;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
}

.pw button {
  background-color: black;
  color: white;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.pw:hover button {
  opacity: 1;
  transform: translate(0, -80%);
}

.pw-body {
  padding: 0 1rem 1rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.generate {
  background-color: black;
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.75rem;
  border: 1px solid white;
  border-radius: 10px;
}
